@model BancoDeQuestoes.Application.ViewModels.FormacaoRevisorViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Formação do Revisor</h2>

<h3>Você tem certeza que deseja excluir essa formação?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.RevisorId)
        <dt>
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

	    <dd>
		    @Html.DisplayFor(model => model.Ativo)
	    </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index", new {id=Model.RevisorId})
        </div>
    }
</div>
