@model IEnumerable<BancoDeQuestoes.Application.ViewModels.FormacaoRevisorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Formação do Revisor</h2>

<p>
    @Html.ActionLink("Nova Formação", "Create", new { id = ViewBag.RevisorId })
</p>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Instituicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FormacaoRevisorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.FormacaoRevisorId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.FormacaoRevisorId })
        </td>
    </tr>
}

</table>
