@model IEnumerable<BancoDeQuestoes.Mvc.ViewModels.FormacaoRevisorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RevisorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RevisorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormacaoRevisorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormacaoRevisorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormacaoRevisorId })
        </td>
    </tr>
}

</table>
