@model BancoDeQuestoes.Domain.Entities.INSCR_BQ_BANCA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banca de Mestres</h2>

<h3>Você tem certeza que deseja excluir essa banca?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESC_BANCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_BANCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_VALOR_PORCENTAGEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_VALOR_PORCENTAGEM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
