@model BancoDeQuestoes.Domain.Entities.INSCR_BQ_BANCA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banca de Mestres</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESC_BANCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_BANCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_VALOR_PORCENTAGEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_VALOR_PORCENTAGEM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_BANCA }) |
    @Html.ActionLink("Voltar", "Index")
</p>
