@model BancoDeQuestoes.Models.INSCR_BQ_TOPICO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disciplina</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_TOPICO)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_DISCIPLINA, "ID_DISCIPLINA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_DISCIPLINA", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_DISCIPLINA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_TITULO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_TITULO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESC_TITULO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_TOPICO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_TOPICO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESC_TOPICO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_BIBLIOGRAFIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_BIBLIOGRAFIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESC_BIBLIOGRAFIA, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.DESC_ATIVO, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.DESC_ATIVO, new SelectList(new List<Object>
					{
			   new { value = "" , text = "Selecione"  },
					new { value = "S" , text = "Sim"  },
					new { value = "N" , text = "Não" }
					}, "value", "text"))
				@Html.ValidationMessageFor(model => model.DESC_ATIVO, "", new { @class = "text-danger" })

			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.DESC_NIVEL, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.DESC_NIVEL, new SelectList(new List<Object>
					{
			   new { value = "" , text = "Selecione"  },
					new { value = "Alta Complexidade" , text = "Alta Complexidade"  },
					new { value = "Média Complexidade" , text = "Média Complexidade" },
					new { value = "Baixa Complexidade" , text = "Baixa Complexidade" },
					}, "value", "text", new { @class = "form-control !important" }))
				@Html.ValidationMessageFor(model => model.DESC_NIVEL, "", new { @class = "text-danger" })
			</div>
		</div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
