@model IEnumerable<BancoDeQuestoes.Application.ViewModels.QuestaoViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Gerenciamento de Revisões</h2>

<p>
	
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.TopicoAtribuido.CodigoProjeto)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NumeroQuestao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>
		
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		
		<th>
			@Html.DisplayNameFor(model => model.Nivel)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.TopicoAtribuido.CodigoProjeto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumeroQuestao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descricao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nivel)
			</td>
			<td>
				@Html.ActionLink("Atribuir Questão para Revisao", "AtribuirQuestaoParaRevisao","Revisoes", new { id=item.QuestaoId }) 
			</td>
		</tr>
	}
</table>

