@model BancoDeQuestoes.Application.ViewModels.QuestaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestaoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicoAtribuido.CodigoProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicoAtribuido.CodigoProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroQuestao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroQuestao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arquivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeRevisoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeRevisoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalizar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalizar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConviteAceito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConviteAceito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
