@using BancoDeQuestoes.Application.ViewModels


<h2>
	Painel de Questões
</h2>
@{
	var dadosQuestao = TempData["DadoaQuestao"] as QuestaoViewModel;
}
<table class="table">
	<tr>
		<td>
			<b>Código do Projeto:</b>
		</td>
		<td>
			@dadosQuestao?.TopicoAtribuido.CodigoProjeto
			<input type="hidden" id="id_projeto" name="id_projeto" value="@dadosQuestao.TopicoAtribuido.ProjetoId"/>
			<input type="hidden" id="id_topico_atribuido" name="id_topico_atribuido" value="@dadosQuestao.TopicoAtribuido.TopicoAtribuidoId"/>
			<input type="hidden" id="mestre" name="mestre" value="@dadosQuestao.TopicoAtribuido.MestreId"/>
		</td>
	</tr>
	<tr>
		<td>
			<b>Titulo do Conteúdo:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Disciplina.Descricao
			<input type="hidden" id="id_topico" name="id_topico" value="@dadosQuestao.TopicoAtribuido.Area.AreaId"/>
		</td>
	</tr>
	<tr>
		<td>
			<b>Área:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Area.Descricao
		</td>
	</tr>
	<tr>
		<td>
			<b>Disciplina:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Disciplina.Descricao
			<input type="hidden" id="id_disciplina" name="id_disciplina" value="@dadosQuestao.TopicoAtribuido.DisciplinaId"/>
		</td>
	</tr>
	<tr>
		<td>
			<b>Bibliografia:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Disciplina.Bibliografia
		</td>
	</tr>
	<tr>
		<td>
			<b>Número da Questão:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.NumeroQuestao
			<input type="hidden" id="numero_da_questao" name="numero_da_questao" value="@dadosQuestao.TopicoAtribuido.NumeroQuestao"/>
			<input type="hidden" id="id_questao" name="id_questao" value="@dadosQuestao.QuestaoId"/>
		</td>
	</tr>
	<tr>
		<td>
			<b>Data de Entrega:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.DataEntrega
		</td>
	</tr>
	<tr>
		<td>
			<b>Nível da Questão:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Nivel
		</td>
	</tr>
	<tr>
		<td>
			<b>Observação:</b>
		</td>
		<td>
			@dadosQuestao.TopicoAtribuido.Observacao
		</td>
	</tr>
</table>
@using (Html.BeginForm("SalvarQuestaoElaborada", "Mestre", FormMethod.Post, new { @id = "form", @enctype="multipart/form-data" })) { 
<form class="form-horizontal">
	<h3>
		Questão
	</h3>
	<hr/>
	<fieldset>
		<div class="form-group">

			<div class="col-lg-10">
				
				<textarea class="form-control" rows="3" name="questao" id="descricao"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-10">
				<label for="arquivo_questao" class="col-lg-3 ">Anexar Imagem da Questão:</label>
				<input type="file" class="form-control" id="arquivo_questao" placeholder="Anexar Imagem" name="arquivo_questao">
			</div>
		</div>
		<div class="form-group">
		<div class="col-lg-10">
			<h3>
				Respostas e Justificativas
			</h3>
			<hr/>
		</div>
		</div>

		@for (var i = 1; i <= dadosQuestao.TopicoAtribuido.NumeroRespostas; i++)
		{
			<div class="form-group">
				<div class="col-lg-10">
					<h4>Alternativa @i</h4>
					<textarea class="form-control" rows="3" name="resposta" id="resposta@i"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10">
					<label for="arquivo_questao" class="col-lg-3 ">Anexar Imagem da Resposta:</label>
					<input type="file" class="form-control" id="arquivo_resposta" placeholder="Anexar Imagem" name="arquivo_resposta">
					
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10">
					<h4>Justificativa @i</h4>
					<textarea class="form-control" rows="3" name="justificativa" id="justificativa@i"></textarea>
					<hr />
				</div>
			</div>
			
		}

		
		<input type="hidden" name="id_topico_atribuido_arquivo" id="id_topico_atribuido_arquivo" value=""/>
		<input type="hidden" name="id_questao" id="id_questao_" value="@dadosQuestao.QuestaoId"/>
		<input type="hidden" id="todas_respostas_" value=""/>
		<input type="hidden" value="" name="id_questoes" id="id_questoes"/>
		<input type="hidden" value="0" name="finalizar" id="finalizar"/>
	</fieldset>
</form>

	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<button type="submit" class="btn btn-default">Salvar</button>
			<button type="submit" class="btn btn-default" id="enviar_finalizar" name="enviar_finalizar">Salvar e Finalizar</button>
			<button type="button" class="btn btn-default">Voltar</button>
			<input type="hidden" id="todas_questoes" value=""/>
		</div>
	</div>
}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script src="~/Scripts/Questoes/PainelQuestaoScript.js"></script>