@model BancoDeQuestoes.Domain.Entities.Projeto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
			@{ var ativo = Model.Ativo == "S" ? "Sim" : "Não";}
			@ativo
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_PROJETO }) |
    @Html.ActionLink("Voltar", "Index")
</p>
