@model IEnumerable<BancoDeQuestoes.Mvc.ViewModels.ProjetoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Projetos</h2>

<p>
    @Html.ActionLink("Novo Projeto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProjeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProjeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProjetoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ProjetoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ProjetoId })
        </td>
    </tr>
}

</table>
