@model BancoDeQuestoes.Mvc.ViewModels.AreaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Área</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConhecimentoEspecifico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConhecimentoEspecifico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AreaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
