@model BancoDeQuestoes.Application.ViewModels.MestreFormacaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Formação do Mestre</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.TipoFormacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFormacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopiaDiploma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopiaDiploma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiplomaAutenticado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiplomaAutenticado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCopiaAutenticada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCopiaAutenticada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MestreFormacaoId }) |
    @Html.ActionLink("Voltar", "Index", new { id = Model.MestreId })
</p>
