@model IEnumerable<BancoDeQuestoes.Models.INSCR_BQ_PROJETO>

@{
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos</h2>

<p>
    @Html.ActionLink("Novo Projeto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COD_PROJETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_PROJETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_ATIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COD_PROJETO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_PROJETO)
        </td>
        <td>
           
			@{ var ativo = item.DESC_ATIVO == "S" ? "Sim" : "Não";}
			@ativo
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_PROJETO }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID_PROJETO }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID_PROJETO })
        </td>
    </tr>
}

</table>
