@model IEnumerable<BancoDeQuestoes.Application.ViewModels.ConviteMestreViewModel>

<h2>Lista de Convite para Elaboração de Questões</h2>
<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicoAtribuido.CodigoProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroQuestao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.TopicoAtribuido.CodigoProjeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroQuestao)
        </td>
       
        
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
       
        <td>
            @Html.ActionLink("Detahes", "DetalhesConvite","Mestre", new { id=item.ConviteMestreId },null) 
        </td>
    </tr>
}

</table>
