@model IEnumerable<BancoDeQuestoes.Application.ViewModels.TopicoAtribuidoViewModel>

@{
    ViewBag.Title = "ListaQuestoesAtribuidas";
}

<h2>Lista de Questões Atribuídas Por Mestre</h2>
<p>
    
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Area.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.Descricao)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Projeto.NomeProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestoesRealizadas)
        </th>
      <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAtribuicao)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Area.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroQuestao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestoesRealizadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAtribuicao)
        </td>
        <td>
            @Html.ActionLink("Acessar", "Edit", new { id=item.TopicoAtribuidoId }) 
        </td>
    </tr>
}

</table>
