@model IEnumerable<BancoDeQuestoes.Application.ViewModels.DisciplinaViewModel>

@{
	ViewBag.Title = "Atribuicao";
}

<h2>Atribuição de Novo Item de Prova</h2>

@Html.Partial("PesquisaTopicos")

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>
		<th>
			
			Área
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nivel)
		</th>

		<th>Selecionar Disciplina</th>
	</tr>
	@if (Model != null)
	{
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Area.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nivel)
				</td>
				<td>
					
					<input type="checkbox" name="DisciplinaId[]" value="@item.DisciplinaId" />
				</td>
			</tr>
		}
		<tr>
			<td colspan="5">
				<button type="submit" class="btn btn-primary">Enviar</button>
			</td>
		</tr>

	}
</table>
