@model IEnumerable<BancoDeQuestoes.Mvc.ViewModels.DisciplinaViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Disciplina</h2>

<p>
	@Html.ActionLink("Nova Disciplina", "Create")
</p>
@Html.Partial("PesquisaDisciplina")
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Area.Descricao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Bibliografia)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Ativo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nivel)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Area.Descricao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descricao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Bibliografia)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ativo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nivel)
			</td>
			<td>
				@Html.ActionLink("Editar", "Edit", new { id = item.DisciplinaId }) |
				@Html.ActionLink("Detalhes", "Details", new { id = item.DisciplinaId }) |
				@Html.ActionLink("Excluir", "Delete", new { id = item.DisciplinaId })
			</td>
		</tr>
	}

</table>
